body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.background-image{
    background-image: url('./background-home-bnw.jpg'); /* Replace with your image path */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #4D5372;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #2C9596;
}

input, textarea, button {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #6AC9CA;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    padding: 15px;
}

button:hover {
    background-color: #4D5372;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sign-in-button {
    background-color: #6AC9CA;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 70vh;
}
